.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
.nav-item{
    margin-top: 5%;
}
.navbar-nav{
    margin-left: 12%;
    float: center;
}
.black-text{
    font-weight: bold;
    color: black;
}
.logoImg{
    width: 30%;
}
.titletext{
    font-size: 92px;
}    
.subtitle{
    font-size: 40px;
} 
.Mission{
    text-align: center;
    margin-top: 2%;
}
.mstatement{
    margin: 5%;
    font-size: large;
    text-align: center;
    margin-top: 2%;
}
.nav-link{
    font-weight: bold;
}


@media only screen and (max-width: 1000px) {
    .titletext {
        font-size: 50px;
    }

    .subtitle {
        font-size: 30px;
    }
}                                                                                                                                    